/* Estilos Gerais */
body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    width: 100%;
}

p {
    font-size: 15px;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#fff;
    padding: 10px 0px;
    z-index: 99;
}

.header_menu {
    text-align: right;
}

.header_menu ul li, .info ul li {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
}

.header_menu ul li a {
    color: #8F8F8F;
    text-transform: capitalize;
    font-size: 13px;
    line-height: 24px;
    padding: 5px;
}

.logo {
    width: 100%;
    height: 207px;
    background: url("../img/Google_logo.svg.png") no-repeat center;
    text-align: center;
    margin-top: 70px;
}

.busca {
    border: 1px solid #ccc;
    border-radius: 30px;
    text-align: center;
    height: 40px;
    width: 500px;
    margin-left: 240px;
}

.busca input {
    width: 420px;
    border: transparent;
}

.busca img {
    width: 24px;
    height: 24px;
    padding-top: 5px;
    display: inline-block;
    text-align: center;
}

.botao {
    margin: 20px;
    text-align: center;
}

.botao button {
    background-color: #ccc;
    border-radius: 5px;
}

.botoes {
    margin-left: 10px;
    font-size: 14px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    color: #1d1d1d;
}

.botoes:hover {
    border: #1d1d1d;
}

footer {
    width: 100%;
    margin-top: 100px;
    background-color: #f2f2f2;
    color: #aaa;
}

.brasil {
    height:50px;
    text-align: left;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
}

.brasil p {
    margin: 16px 30px;
}

.info ul li a {
    text-transform: capitalize;
    line-height: 20px;
    color: #aaa;
    line-height: 24px;
    margin: 30px;
}

.footer_direita, .footer_esquerda {
    height: 58px;
}

.footer_esquerda ul li a {
    text-align: left;
    margin-top: 17px;
    margin-bottom: 34px;
    padding-left: 20px;
}

.footer_direita ul li a {
    text-align: right;
    margin-top: 17px;
    margin-bottom: 34px;
    padding-right: 20px;
}

